//- holdings
.c-input-area__row
  .c-input-area__row__title 保有株数
  .c-input-area__row__input
    input(type="text", name="h-input", v-model="h")
//- acquisition price
.c-input-area__row
  .c-input-area__row__title 取得単価
  .c-input-area__row__input
    input(type="text", name="ap-input" v-model="ap")
//- current price
.c-input-area__row
  .c-input-area__row__title 現在価格
  .c-input-area__row__input
    input(type="text", name="cp-input" v-model="cp")
//- planned amount
.c-input-area__row
  .c-input-area__row__title 予定購入数
  .c-input-area__row__input
    input(type="text", name="pa-input", v-model="pa")
